body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  padding: 2% 2% 8%;
}

.searchBox {
  padding-bottom: 3%;
}
.searchBox input {
  font-size: 1.5em;
  padding: .2em .6em;
  border-radius: .4em;
  outline: none;
}

.searchBox button {
  position: relative;
  margin-left: .8rem;
  padding: .3em 1.2em !important;
  top: -7px;
}

.picArea {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

  -webkit-justify-content: space-around;
  justify-content: space-around;

  -webkit-align-items: center;
  align-items: center;
}

.picArea div {
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  margin: 1%;
}

.picArea div img {
  position: absolute;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;

  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

.moreButton {
  margin-top: 3%;
}

.searchBox button,
.moreButton button{
  font-size: 1.2em;
  padding: .4em 1.2em;
  border-radius: .4em;
  color: #ffffff;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
  outline: none;
}

.searchBox button:active,
.moreButton button:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
  margin-top: 3px;
  margin-bottom: 3px;
}

.moreButton button:hover,
.searchBox button:hover {
  background-image: linear-gradient(#67ceff 0%, #6795fd 100%);
}